@model IEnumerable<EventFlow.Application.DTOs.ProjetoDecoracao.ProjetoDecoracaoDto>

<h1>Projetos 3D</h1>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Novo Projeto
</a>

<table class="table">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Observações</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Observacoes</td>
                <td>

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-info btn-sm">
                        Detalhes
                    </a>

                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <form asp-action="Delete"
                          method="post"
                          style="display:inline;">

                        <input type="hidden"
                               name="id"
                               value="@item.Id" />

                        <button class="btn btn-danger btn-sm">
                            Excluir
                        </button>

                    </form>

                </td>
            </tr>
        }

    </tbody>

</table>