@model EventFlow.Application.DTOs.Evento.EventoDetalheDto

<h1>Evento</h1>

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Data:</strong> @Model.DataEvento.ToShortDateString()</p>
<p><strong>Local:</strong> @Model.LocalEvento</p>
<p><strong>Convidados:</strong> @Model.QuantidadeConvidados</p>

@if (Model.TemEquipe)
{
    <a asp-controller="EquipeEvento"
       asp-action="Edit"
       asp-route-eventoId="@Model.Id"
       class="btn btn-warning">
        Editar Equipe
    </a>
}
else
{
    <a asp-controller="EquipeEvento"
       asp-action="Create"
       asp-route-eventoId="@Model.Id"
       class="btn btn-primary">
        Montar Equipe
    </a>
}

@if (Model.TemFornecedor)
{
    <a asp-controller="EventoFornecedor"
       asp-action="Edit"
       asp-route-eventoId="@Model.Id"
       class="btn btn-warning">
        Editar Fornecedores
    </a>
}
else
{
    <a asp-controller="EventoFornecedor"
       asp-action="Create"
       asp-route-eventoId="@Model.Id"
       class="btn btn-primary">
        Montar Fornecedores
    </a>
}