@model IEnumerable<EventFlow.Application.DTOs.Evento.EventoDto>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Eventos</h1>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Novo Evento
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Local</th>
            <th>Convidados</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.DataEvento.ToShortDateString()</td>
                <td>@item.LocalEvento</td>
                <td>@item.QuantidadeConvidados</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <form asp-action="Delete" method="post" style="display:inline">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-danger btn-sm">
                            Excluir
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>